Package: net.fakeapps.simpledate
Name: SimpleDate
Depends: firmware (>= 5.0), com.saurik.substrate.safemode
Version: 0.0.7
Architecture: iphoneos-arm
Description: A Notification Center Widget that only shows the date. Simple and short.
Maintainer: Shades
Author: Shades
Section: Addons (NotificationCenter)
